*.qcow2
result
.kiro
.qwen
secrets/
*.secret.nix
.doppler.yaml
.venv/
__pycache__/
*.pyc
node_modules/
modules/core/configs/common/scripts/Hidamari
modules/core/configs/common/scripts/WebTorrent
modules/core/configs/common/scripts/cpu-x
modules/core/configs/common/scripts/entire
modules/core/configs/common/scripts/uv
modules/core/configs/common/scripts/uvx
modules/core/configs/common/scripts/llmfit
modules/core/configs/common/bat/config
