/* ML4W Modern Waybar Theme (Grid Visuals) */

@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

@define-color text #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;

@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;

@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9399b2;

@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color sapphire #74c7ec;
@define-color sky #89dceb;
@define-color teal #94e2d5;
@define-color green #a6e3a1;
@define-color yellow #f9e2af;
@define-color peach #fab387;
@define-color maroon #eba0ac;
@define-color red #f38ba8;
@define-color mauve #cba6f7;
@define-color pink #f5c2e7;
@define-color flamingo #f2cdcd;
@define-color rosewater #f5e0dc;

/* Global Variables */
@define-color bg_color @base;
@define-color text_color @text;
@define-color module_bg @crust;
@define-color module_text @text;

@define-color ws_container @crust;
@define-color ws_button_inactive @surface0;
/* Match SwayNC Buttons */
@define-color ws_button_active @green;
/* Match SwayNC Active Toggle */
@define-color ws_text_inactive @subtext0;
@define-color ws_text_active @crust;
/* Dark text on Green bg */

* {
    font-family: "JetBrainsMono Nerd Font", "Fira Sans Semibold", sans-serif;
    border: none;
    font-size: 13px;
    font-weight: bold;
}

window#waybar {
    background-color: rgba(49, 50, 68, 0.0);
    border-radius: 8px;
    margin: 4px;
    padding: 1px;
    transition-property: background-color;
    transition-duration: .5s;
}

.modules-left,
.modules-center,
.modules-right {
    margin: 0px;
    background-color: transparent;
}

/* WORKSPACES */
#workspaces {
    background: @ws_container;
    padding: 2px;
    margin: 2px;
    border-radius: 5px;
}

#workspaces button {
    padding: 2px 8px;
    margin: 0px 2px;
    border-radius: 5px;
    color: @ws_text_inactive;
    background-color: @ws_button_inactive;
    font-weight: bold;
}

#workspaces button.active {
    color: @ws_text_active;
    background: @ws_button_active;
}

#workspaces button:hover {
    background: @ws_button_active;
}

/* MODULES */
#battery,
#custom-battery,
#network,
#clock,
#tray,
#custom-memory,
#custom-disk,
#temperature,
#group-hardware,
#pulseaudio {
    background-color: rgba(17, 17, 27, 0.95);
    color: @module_text;
    border-radius: 5px;
    margin: 2px;
    padding: 2px 12px;
}

#group-hardware {
    padding: 2px 4px;
}

#tray {
    background-color: @module_bg;
    color: @module_text;
    padding: 0px 8px;
}

#tray>.passive {
    -gtk-icon-effect: none;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
}


#bluetooth {
    background-color: @module_bg;
    color: @module_text;
    padding: 0px 6px;
    margin: 0;
}

/* CENTER WINDOW */
#window {
    background-color: rgba(17, 17, 27, 0.95);
    color: #cdd6f4;
    border-radius: 5px;
    padding: 0 10px;
    margin: 2px 5px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

/* Specifics */
#network.disconnected {
    color: #f38ba8;
}

#battery.charging {
    color: #181825;
}