/* Gruvbox Modern Waybar Theme */

@define-color bg #1d2021;
@define-color bg2 #282828;
@define-color bg3 #32302f;
@define-color bg4 #3c3836;
@define-color bg5 #504945;

@define-color fg #ebdbb2;
@define-color fg2 #d5c4a1;
@define-color fg3 #bdae93;
@define-color fg4 #a89984;

@define-color red #fb4934;
@define-color green #b8bb26;
@define-color yellow #fabd2f;
@define-color blue #83a598;
@define-color purple #d3869b;
@define-color aqua #8ec07c;
@define-color orange #fe8019;

/* Global Variables */
@define-color bg_color @bg;
@define-color text_color @fg;
@define-color module_bg @bg3;
@define-color module_text @fg;

@define-color ws_container @bg3;
@define-color ws_button_inactive @bg4;
@define-color ws_button_active @green;
@define-color ws_text_inactive @fg4;
@define-color ws_text_active @bg;

* {
    font-family: "JetBrainsMono Nerd Font", "Fira Sans Semibold", sans-serif;
    border: none;
    font-size: 13px;
    font-weight: bold;
}

window#waybar {
    background-color: rgba(50, 48, 47, 0.0);
    border-radius: 8px;
    margin: 4px;
    padding: 1px;
    transition-property: background-color;
    transition-duration: .5s;
}

.modules-left,
.modules-center,
.modules-right {
    margin: 0px;
    background-color: transparent;
}

/* WORKSPACES */
#workspaces {
    background: @ws_container;
    padding: 2px;
    margin: 2px;
    border-radius: 5px;
}

#workspaces button {
    padding: 2px 8px;
    margin: 0px 2px;
    border-radius: 5px;
    color: @ws_text_inactive;
    background-color: @ws_button_inactive;
    font-weight: bold;
}

#workspaces button.active {
    color: @ws_text_active;
    background: @ws_button_active;
}

#workspaces button:hover {
    background: @ws_button_active;
}

/* MODULES */
#battery,
#custom-battery,
#network,
#clock,
#tray,
#custom-memory,
#custom-disk,
#temperature,
#group-hardware,
#custom-vpn,
#pulseaudio {
    background-color: rgba(50, 48, 47, 0.95);
    color: @module_text;
    border-radius: 5px;
    margin: 2px;
    padding: 2px 12px;
}

#group-hardware {
    padding: 2px 4px;
}

#tray {
    background-color: @module_bg;
    color: @module_text;
    padding: 0px 8px;
}

#tray>.passive {
    -gtk-icon-effect: none;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
}


#bluetooth {
    background-color: @module_bg;
    color: @module_text;
    padding: 0px 6px;
    margin: 0;
}

/* CENTER WINDOW */
#window {
    background-color: rgba(50, 48, 47, 0.95);
    color: @fg;
    border-radius: 5px 0px 0px 5px;
    padding: 0 10px;
    margin: 2px 0px 2px 5px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

#custom-fill {
    background-color: rgba(50, 48, 47, 0.95);
    border-radius: 0px 5px 5px 0px;
    padding: 0;
    margin: 2px 5px 2px 0px;
}

/* Specifics */
#network.disconnected {
    color: @red;
}

#custom-vpn {
    background-color: rgba(50, 48, 47, 0.95);
    color: @module_text;
    border-radius: 5px;
    margin: 2px;
    padding: 2px 12px;
}

#custom-vpn.disconnected {
    color: @red;
}

#custom-vpn.connected {
    color: @green;
}

#custom-battery.charging,
#custom-battery.fully-charged {
    color: @green;
}

#battery.charging,
#battery.fully-charged {
    color: @green;
}
